.contBox {
    height: 100%;
    width: 100%;

    .justifyext {
    	li {
            margin-top: 5px;
            padding: 0 20px;
            width: 100px;
            height: 40px;
            background-color: #f66;
            line-height: 40px;
            text-align-last: justify;
            color: #fff;
            &:first-child {
                margin-top: 0;
            }
        }
    }


    .crContent {
        width: 370px;
        font-size: 13px;
        line-height: 1.54;
        color: #333;
        word-wrap: break-word;
        word-break: normal;

        .hotUtil {
            font-weight: 700;
            font-size: 14px;
            color: #333;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .tool {
            margin-top: 7px;
            zoom: 1;

            .spItem {
                float: left;
                display: inline-block;
                padding-bottom: 15px;
                margin-right: 17px;
                list-style: none;
                width: 75px;

                .link {
                    text-align: center;
                    font-size: 13px;
                    color: #333;
                    text-decoration: none;

                    .imgIcon {
                        display: block;
                        width: 30px;
                        height: 30px;
                        margin: 0 auto 6px;
                    }
                    .camp {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}