.contBox {
    height: 100%;
    width: 100%;

    .justifyext {
    	li {
            margin-top: 5px;
            padding: 0 20px;
            width: 100px;
            height: 40px;
            background-color: #f66;
            line-height: 40px;
            text-align-last: justify;
            color: #fff;
            &:first-child {
                margin-top: 0;
            }
        }
    }
}